instrument: NIRCam
reflabels: [gain_armin,bpm,rdnoise_nircam]

default_reflabels:
   bpm: bpm
   rdnoise: rdnoise_nircam
   gain: gain_armin

inputfiles:
   dark_pattern: Bias|Dark|BIAS|DARK|ZERO
   flat_pattern: GAIN|LIN

   #basenamepattern: (.*NRC.*\d{4}\-\d{2}\-\d{2}T\d+h\d+m\d+)
   basenamepattern: (.*)\_uncal\.fits$

   # specificy the fits keywords to determine MJD time of
   # observation. They are automatically added to the list of required
   # fits keywords. if MJD-OBS does not exist, then DATE-OBS (and
   # TIME-OBS if specified) are used to determine the MJD.
   dateobs_fitskey: DATE-END
   timeobs_fitskey: TIME-END
   mjdobs_fitskey:  

   requiredfitskeys: [INSTRUME,DETECTOR,NGROUP,NINT,TGROUP,SUBARRAY]
   optionalfitskeys: [FILTER,PUPIL]

DD:
   max_Delta_MJD: 2.0

FF:
   max_Delta_MJD: 2.0
DDFF:
   max_Delta_MJD: 10.0

# reference file output basename: outrootdir[/outsubdir][/runID]/reflabel/reflabel[_outsubdir][_runID][.addsuffix].cmdID.reftype.fits
# if runID=AUTO, then the latest runID in the output dir outrootdir[/outsubdir] is taken
output:
   outrootdir: $JWST_MKREFS_OUTDIR
   outsubdir: test1
   runID: AUTO
   # how many leading zeros in runID
   runIDNdigits: 3
   addsuffix: bla

   # directory in which ssb products are saved.
   # if not specified, default is outrootdir[/outsubdir][/runID]/ssb
   # if skip_runID_ssbdir, then the runID is skipped
   ssbdir:
   skip_runID_ssbdir: False

   # directories in which ssb products are looked for. comma-separated list!
   pipeline_prod_search_dir: 

batch:
   batch_enabled: False
   batchmode: Condor
   

test1: 4

# values allowed: CRDS, SELF, filepattern
reffile4ssb:
   gainreffile: CRDS
   bpmreffile: CRDS

# values allowed: CRDS, filename
validation:
   gainreffile: CRDS
   bpmreffile: CRDS
   
bpm:
    reftype: bpm
    imtypes: D
    ssbsteps: dq,ref


rdnoise_nircam:
    reftype: rdnoise
    imtypes: DD
    ssbsteps: dq,ref
    test1: 6

gain_armin:
    reftype: gain
    imtypes: DDFF
    ssbsteps: dq,ref,super
    reffile4ssb:
        bpmreffile: /bla/bpm.fits

gain_bryan:
    reftype: gain
    imtypes: FF
    ssbsteps: dq,ref
    reffile4ssb:
        bpmreffile: /bla/bpm.fits

